<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password </title>
    <link rel="stylesheet" href="css/forgotlink_input.css">
</head>
<body>


    
<div class="container">


    <img src="https://thumbs.dreamstime.com/z/user-login-authenticate-icon-vector-personal-protection-internet-privacy-password-protected-security-key-pad-161621864.jpg" alt="" height="70" width="70">
    
    
    
    
      <div class="card">
        <h2>Hogarth Security</h2>
    
    <form action="/reset-password_link" method="post">

        <input type="email" name="email" id="email" placeholder="Email or Employee ID" class="control"><br>

        <button type="submit" id="submit">Send Link Now</button>
    </form>
      </div>
</div>

</body>
</html>